<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csw.dao.TagZhongDao">
    <insert id="add">
    insert into tagz values(null,#{t.bid},#{t.iid})
</insert>
    <delete id="delete">
        delete from tagz where iid=#{id}
    </delete>
</mapper>































